.progress-container{
  height: 4px;
  width: 100%;
  background-color: #cccccc;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.progress-bar{
  height: 100%;
  background-color: rgb(2, 255, 4);
}