@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
  user-select: none;
  color: white;
  font-family: "Space Mono", monospace;
}
body{
  padding: 0;
  margin: 0;
  background: url('/background.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#root{
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
h2{
  text-decoration: underline rgb(2, 255, 4);
}